.modalCompose {
  :global {
    .rc-dialog-content {
      width: 100% !important;
      max-width: 500px !important;

      .rc-dialog-body {
        padding: 20px;
      }
    }
  }
}
.hidden_sugesstion {
  :global {
    .mentionList {
      transition: 0.3s ease-in-out;
      opacity: 0;
    }
  }
}
