.tableRedBorder {
  tr {
    position: relative;

    &:not(:last-child) {
      td {
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
}

.tableGreenBorder {
  tr {
    position: relative;

    &:not(:last-child) {
      td {
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
}
