@keyframes isIncrease {
  to {background-color: #8ECF4A;border-radius: 4px; color: #ffffff; padding: 2px 5px;}
}
.isIncrease{
  animation-name: isIncrease;
  animation-duration: 0.5s;
  
}
@keyframes isDecrease {
  to {background-color: #FF5757;border-radius: 4px;color: #ffffff;padding: 2px 5px;}
}
.isDecrease{
  animation-name: isDecrease;
  animation-duration: 0.5s;
}