.inputGroup:focus-within {
  background: #eaf4fb;
  border-bottom: 1px solid #589dc0;
}

.inputField {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--neutral-5);
  padding-top: 15px;
  padding-bottom: 4px;
  background: transparent;
  color: #333333;
  font-weight: 500;

  &::placeholder {
    color: transparent;
    visibility: hidden;
    font-size: 0;
  }

  &:placeholder-shown ~ .inputLabel {
    font-size: 14px;
    cursor: text;
    top: 15px;
  }

  &:focus ~ .eyePassword {
    background-color: #eaf4fb;
  }
}

.inputLabel {
  position: absolute;
  top: 7px;
  display: block;
  transition: 0.2s;
  font-size: 10px;
  color: #b3b3b3;
}

.inputField:focus {
  ~ .inputLabel {
    position: absolute;
    top: 7px;
    display: block;
    transition: 0.2s;
    font-size: 10px;
    color: #589dc0;
  }
  font-size: 16px;
}

/* reset input */
.inputField {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
