// @import '../../../../styles/color.scss';

.companyCard {
  margin-right: 16px;
  &:nth-of-type(5n + 2) {
    margin-right: 60px;
  }
  &:nth-of-type(5n + 1) {
    margin-left: 54px;
  }
  &:nth-of-type(5n + 5) {
    margin-right: 0;
  }
}
