// @import '../../../../styles/color.scss';

.companyCard {
  margin-right: 16px;
  
  &:nth-of-type(5n + 2) {
    margin-right: 60px;
    @media (max-width : 768px){
      margin-left: 40px;
      margin-right: 30px;
    }
  }
  &:nth-of-type(5n + 1) {
    margin-left: 54px;
    @media (max-width : 768px){
      margin-left: 20px;
    }
  }
  &:nth-of-type(5n + 4) {
    @media (max-width : 768px){
      margin-left: 60px;
    }
  }
  &:nth-of-type(5n + 5) {
    margin-left: 40px;
    @media (max-width: 768px){
      margin-left: 0px;
    }
  }
  
}
// @for $i from 1 through 6 {
//   .companyCard:nth-child(6n + #{$i}) {
//     margin-right: ;
//     // position: absolute;
//     // top: $i*8 + $i + px;
//     // left :$i*31 + $i + 16+ px;
//     // width: 67px;
//     // height: 67px;
//     // background-color: 
//   }
// }
.listCompany::-webkit-scrollbar {
  display: none;
}
