.avatar{
  &:hover{
    .infoUser{
      opacity: 1;
      pointer-events: unset;
      @media (max-width : 1024px){
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
.infoUser{
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.boxFollow{
  :global{
    .box{
      background-size: inherit;
      background-repeat: no-repeat;
      background-position: center;
    }
    .follow{
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L4.99529 9L13 1' stroke='%231F6EAC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    .unfollow{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='%231F6EAC' strokeWidth='1.5' strokeLinecap='round' strokeLinejoin='round'/%3E%3Cpath d='M12 18V6' stroke='%231F6EAC' strokeWidth='1.5' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}
