.modalStory {
  max-width: 375px;

  :global {
    .rc-dialog-content {
      border-radius: 12px;
      max-height: 100%;

      .rc-dialog-close {
        z-index: 100;
      }

      .rc-dialog-body {
        padding: 0;
      }
    }
  }
}

.caption {
  &::-webkit-scrollbar-track {
    @apply rounded-[12px];
  }
}
