$screen-tablet-width: 769px;

.tab {
  :global {
    .rc-tabs-nav-operations-hidden {
      width: 0;
      height: 0;
    }

    .rc-tabs-ink-bar.rc-tabs-ink-bar-animated {
      display: none;
    }
    .rc-tabs-nav-list {
      display: flex;
      align-items: center;
      column-gap: 32px;
      @media (max-width: 300px) {
        gap: 20px;
        justify-content: space-around;
      }
      .rc-tabs-tab {
        font-size: 22px;
        font-weight: 700;
        color: #ccc;
        cursor: pointer;
        @media (max-width: 300px) {
          font-size: 18px;
        }
        .rc-tabs-tab-btn {
          @media (min-width: $screen-tablet-width) {
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 10px;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
          }
        }

        &.rc-tabs-tab-active {
          color: #0d0d0d;

          .rc-tabs-tab-btn {
            @media (min-width: $screen-tablet-width) {
              font-weight: 700;
              color: var(--primary-2);
              border-bottom-color: var(--primary-2);
            }
          }
        }
      }
    }
  }
}
