.modalComment {
  @media (max-width: 768px) {
    .content::-webkit-scrollbar {
      width: 5px;
    }
  }

  :global {
    .rc-dialog-content {
      @media (min-width: 768px) {
        width: 100%;
      }

      .rc-dialog-body {
        padding: 40px 16px;
      }
    }
  }
}
