.modalComment {
  @media (max-width: 768px) {
    .content::-webkit-scrollbar {
      width: 5px;
    }
  }

  :global {
    .rc-dialog-content {
      @media (min-width: 768px) {
        width: 100%;
      }

      @media (max-width: 576px) {
        max-height: 100%;
      }

      .rc-dialog-body {
        padding: 40px 16px;
      }
    }
  }
  [data-tippy-root] {
    @media screen and (max-width: 768px) {
      transform: none !important;
      inset: auto 0 79px 0px !important;
      width: 100% !important;
    }
  }
  @media screen and (max-width: 768px) {
    :global {
      .tippy-box{
        width: 100%;
        max-width: 100% !important;
      }
      .mentionList {        
        width: 100% ;
        & > * {
          width: 100% !important;
        }
      }
    }
  }
}
