@keyframes isIncrease {
  to {
    background-color: #66C660;
    border-radius: 100px;
    color: #ffffff;
    padding: 2px 5px;
  }
}
.isIncrease {
  animation-name: isIncrease;
  animation-duration: 0.5s;
  // color: red;
}
@keyframes isDecrease {
  to {
    background-color: #db4444;
    border-radius: 100px;
    color: #ffffff;
    padding: 2px 5px;
  }
}
.isDecrease {
  animation-name: isDecrease;
  animation-duration: 0.5s;
}
@keyframes isNoChange {
  to {
    background-color: #e6a70a;
    border-radius: 100px;
    color: #ffffff;
  }
}
.isNoChange {
  animation-name: isNoChange;
  animation-duration: 0.5s;
}
.watchListSlick {
  :global {
    .slick-track {
      display: flex;
    }
  }
}
