.rc-tabs {
  &.tabHome {
    .rc-tabs-nav-wrap {
      border-bottom: 1px solid #b1d5f1;
    }
    &.tabHomePc {
      .rc-tabs-nav-wrap {
        border-bottom: 1px solid #999999;
      }
    }
  }
  &.tabHome,
  &.tabHomePc {
    .rc-tabs-nav-list {
      display: flex;

      @media (max-width: 768px) {
        padding-left: 16px;
      }

      .rc-tabs-tab {
        margin-right: 30px;
        padding-bottom: 10px;
        &:last-child {
          margin-right: 0;
        }
        cursor: pointer;
        .rc-tabs-tab-btn {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #b3b3b3;
        }
        &.rc-tabs-tab-active {
          border-bottom: 3px solid #1f6eac;
          .rc-tabs-tab-btn {
            color: #0d0d0d;
            font-weight: 600;
          }
        }
      }
    }
  }
  &.tabHomePc {
    .rc-tabs-nav-list {
      justify-content: space-between;
      .rc-tabs-ink-bar {
        display: none;
      }
      .rc-tabs-tab {
        margin-right: 0;
        .rc-tabs-tab-btn {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #000000;
        }
        &.rc-tabs-tab-active {
          .rc-tabs-tab-btn {
            color: #1f6eac;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.rc-dialog {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: auto !important;
}
.slide-watchlist {
  .slick-list {
    overflow: visible !important;
    width: 80%;
  }
}
.slide-theme {
  .slick-list {
    overflow: visible !important;
    width: calc(100% - 63px);
  }
}
.peopleInfluence {
  .slick-track {
    display: flex;
  }
}
// custom fancybox
.fancybox__toolbar__column.is-right {
  display: none !important;
}
.rc-dialog-close {
  opacity: 1 !important;
  top: 20px !important;
}
.rc-dialog-content {
  width: 431px;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    width: calc(100% - 32px) !important;
  }
}
.messageFormat {
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #1a1a1a;
  }
  .hashtag {
    color: #1f6eac !important;
  }
  .link {
    color: #3449d7 !important;
    display: block;
  }
}
// menu
.rc-menu-item-selected {
  background-color: #eaf4fb;
  padding: 10px;
  border-radius: 10px;
}

.rc-picker-focused {
  border: none !important;
}

.rc-picker-dropdown {
  box-shadow: none !important;
}

.rc-picker-panel {
  background: #ffffff !important;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border: none !important;
}

.rc-picker-date-panel {
  width: 280px;
}

.rc-picker-header {
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.rc-picker-header-view {
  flex: auto;
  font-weight: 600;
  line-height: 40px;
}

.rc-picker-year-btn {
  margin-inline-start: 8px;
}

.rc-picker-body {
  padding: 8px 18px;
  box-sizing: border-box;
}

.rc-picker-content {
  width: 252px;
  th {
    width: 36px;
    height: 36px;
    vertical-align: middle;
  }
}

.rc-picker-cell {
  padding: 6px 0;
}

.rc-picker-cell-inner {
  font-size: 14px !important;
  font-weight: 400;
  color: #b3b3b3;
  min-width: 26px !important;
  height: 26px !important;
  line-height: 26px !important;
  border-radius: 4px;

  &:hover {
    background: #b1d5f1 !important;
  }
}

.rc-picker-cell-in-view {
  .rc-picker-cell-inner {
    color: #0d0d0d !important;
  }
}

.rc-picker-cell-selected {
  .rc-picker-cell-inner {
    background: #1f6eac !important;
    color: #fff !important;
  }
}

.rc-picker-cell-today {
  .rc-picker-cell-inner {
    border: 1px solid #1f6eac !important;
  }
}

.rc-picker-header-super-prev-btn:hover,
.rc-picker-header-prev-btn:hover,
.rc-picker-header-next-btn:hover,
.rc-picker-header-super-next-btn:hover,
.rc-picker-year-btn:hover,
.rc-picker-month-btn:hover {
  filter: invert(37%) sepia(17%) saturate(3633%) hue-rotate(175deg) brightness(91%) contrast(87%);
}
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.slick-track {
  margin-left: 0 !important;
}
// format post
html{
  background-color: red;
}