:root {
  --white: #ffffff;
  --black: #000000;

  --semantic-1: #DB4444;

  --primary-1: #589DC0;
  --primary-2: #1F6EAC;
  --primary-3: #EAF4FB;
  --primary-5: #394251;
  --primary-6: #B1D5F1;

  --neutral-1: #1A1A1A;
  --neutral-2: #333333;
  --neutral-3: #4D4D4D;
  --neutral-4: #808080;
  --neutral-5: #B3B3B3;
  --neutral-6: #CCCCCC;
  --neutral-7: #E6E6E6;
  --neutral-8: #F3F2F6;
  --neutral-9: #FFFFFF;

  --semantic-1 : #DB4444;
  --semantic-2-1 : #128F63;
  --semantic-2-2 : #E3F6E2;
  --semantic-3 : #F6C23B;
}
.cbwhite {
  color: var(--white);
}
.cbblack {
  color: var(--black);
}
.primary-1 {
  color: var(--primary-1);
}
.primary-2 {
  color: var(--primary-2);
}
.primary-3 {
  color: var(--primary-3);
}
.primary-5 {
  color: var(--primary-5);
}
.primary-6 {
  color: var(--primary-6);
}

.neutral-1 {
  color: var(--neutral-1);
}

.neutral-2 {
  color: var(--neutral-2);
}

.neutral-3 {
  color: var(--neutral-3);
}

.neutral-4 {
  color: var(--neutral-4);
}
.neutral-5 {
  color: var(--neutral-5);
}
.neutral-6 {
  color: var(--neutral-6);
}
.neutral-7 {
  color: var(--neutral-7);
}
.neutral-8 {
  color: var(--neutral-8);
}
.neutral-9 {
  color: var(--neutral-9);
}
.semantic-1 {
  color: var(--semantic-1);
}
.semantic-2-1 {
  color: var(--semantic-2-1);
}
.semantic-2-2 {
  color: var(--semantic-2-2);
}
.semantic-3 {
  color: var(--semantic-3);
}