@import './reset.scss';
@import './color.scss';
@import './space.scss';
@import './text.scss';
@import './rc-component.scss';
@import './scrollBar.scss';
@import './input.scss';
@import './shareButton.scss';
@import './tiptap.scss';
@import './rc-dialog.scss';
@import './rc-dropdown.scss';
@import 'slick.scss';
@import '@fancyapps/ui/dist/fancybox/fancybox.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'slick-carousel/slick/slick.css';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: var(--fontInter), sans-serif !important;
}
body {
  overflow-y: overlay !important;
  overflow-x: hidden !important;
}
.overflow-overlay {
  overflow-y: overlay;
}
.grecaptcha-badge {
  visibility: hidden;
}
.rc-tabs-dropdown-hidden {
  display: none;
}
.tagpeople {
  color: #1f6eac !important;
}
