@import './reset.scss';
@import './font.scss';
@import './color.scss';
@import './space.scss';
@import './text.scss';
@import './antd.scss';
@import './editor.scss';
@import './select.scss';
@import './scrollBar.scss';
@import './input.scss';
@import './shareButton.scss';
@import './tiptap.scss';
@import './modal.scss';
@import 'rc-dialog/assets/index.css';
@import 'slick.scss';
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: var(--fontInter), sans-serif !important;
}
body {
  overflow: overlay !important;
}
.overflow-overlay {
  overflow: overlay;
}
.grecaptcha-badge {
  visibility: hidden;
}
.rc-tabs-dropdown-hidden {
  display: none;
}
.tagpeople {
  color: #1f6eac !important;
}
