@import './reset.scss';
@import './color.scss';
@import './space.scss';
@import './text.scss';
@import './rc-component.scss';
@import './scrollBar.scss';
@import './input.scss';
@import './shareButton.scss';
@import './tiptap.scss';
@import './rc-dialog.scss';
@import './rc-dropdown.scss';
@import 'slick.scss';
@import 'slick-carousel/slick/slick-theme.css';
@import 'slick-carousel/slick/slick.css';
@import 'rc-checkbox/assets/index.css';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: var(--fontInter), sans-serif !important;
}
body {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: overlay !important;
  background-color: #f8fafd;
  @media (min-width: 992px) {
    min-height: 100vh;
  }
}
.overflow-overlay {
  overflow-y: overlay !important;
}
.grecaptcha-badge {
  visibility: hidden;
}
.rc-tabs-dropdown-hidden {
  display: none;
}
.tagpeople {
  color: #1f6eac !important;
}

.box-shadow {
  box-shadow: 4px 4px 25px -1px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 4px 4px 25px -1px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 4px 4px 25px -1px rgba(0, 0, 0, 0.02);
}

.iframe-placeholder {
  background-color: black;
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/static/gif/loader.gif);
}

.headerHide {
  @media (max-width: 576px) {
    transform: translateY(-415px) !important;
  }
}
