.rc-dropdown .rc-table-filter-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  min-width: 120px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.rc-dropdown .rc-table-filter-dropdown .rc-menu {
  max-height: 264px;
  overflow-x: hidden;
  border: 0;
  box-shadow: none;
}
.rc-dropdown .rc-table-filter-dropdown .rc-menu:empty::after {
  display: block;
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  text-align: center;
  content: 'Not Found';
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-tree {
  padding-block: 8px 0;
  padding-inline: 8px;
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-tree .rc-tree {
  padding: 0;
}
.rc-dropdown
  .rc-table-filter-dropdown
  .rc-table-filter-dropdown-tree
  .rc-tree-treenode
  .rc-tree-node-content-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.rc-dropdown
  .rc-table-filter-dropdown
  .rc-table-filter-dropdown-tree
  .rc-tree-treenode-checkbox-checked
  .rc-tree-node-content-wrapper,
.rc-dropdown
  .rc-table-filter-dropdown
  .rc-table-filter-dropdown-tree
  .rc-tree-treenode-checkbox-checked
  .rc-tree-node-content-wrapper:hover {
  background-color: #e6f4ff;
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-search {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-search-input input {
  min-width: 140px;
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-search-input .anticon {
  color: rgba(0, 0, 0, 0.25);
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-checkall {
  width: 100%;
  margin-bottom: 4px;
  margin-inline-start: 4px;
}
.rc-dropdown .rc-table-filter-dropdown .rc-table-filter-dropdown-btns {
  display: flex;
  justify-content: space-between;
  padding: 7px 8px;
  overflow: hidden;
  border-top: 1px solid #f0f0f0;
}
.rc-dropdown .rc-table-filter-dropdown .rc-checkbox-wrapper + span,
.rc-table-filter-dropdown-submenu .rc-checkbox-wrapper + span {
  padding-inline-start: 8px;
  color: rgba(0, 0, 0, 0.88);
}
.rc-dropdown .rc-table-filter-dropdown > ul,
.rc-table-filter-dropdown-submenu > ul {
  max-height: calc(100vh - 130px);
  overflow-x: hidden;
  overflow-y: auto;
}

[class^='rc-dropdown'],
[class*=' rc-dropdown'] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 14px;
  box-sizing: border-box;
}
[class^='rc-dropdown']::before,
[class*=' rc-dropdown']::before,
[class^='rc-dropdown']::after,
[class*=' rc-dropdown']::after {
  box-sizing: border-box;
}
[class^='rc-dropdown'] [class^='rc-dropdown'],
[class*=' rc-dropdown'] [class^='rc-dropdown'],
[class^='rc-dropdown'] [class*=' rc-dropdown'],
[class*=' rc-dropdown'] [class*=' rc-dropdown'] {
  box-sizing: border-box;
}
[class^='rc-dropdown'] [class^='rc-dropdown']::before,
[class*=' rc-dropdown'] [class^='rc-dropdown']::before,
[class^='rc-dropdown'] [class*=' rc-dropdown']::before,
[class*=' rc-dropdown'] [class*=' rc-dropdown']::before,
[class^='rc-dropdown'] [class^='rc-dropdown']::after,
[class*=' rc-dropdown'] [class^='rc-dropdown']::after,
[class^='rc-dropdown'] [class*=' rc-dropdown']::after,
[class*=' rc-dropdown'] [class*=' rc-dropdown']::after {
  box-sizing: border-box;
}
.rc-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  display: block;
}
.rc-dropdown::before {
  position: absolute;
  inset-block: -4px;
  z-index: -9999;
  opacity: 0.0001;
  content: '';
}
.rc-dropdown-trigger.rc-btn > .anticon-down {
  font-size: 12px;
  transform: none;
}
.rc-dropdown .rc-dropdown-wrap {
  position: relative;
}
.rc-dropdown .rc-dropdown-wrap .rc-btn > .anticon-down {
  font-size: 12px;
}
.rc-dropdown .rc-dropdown-wrap .anticon-down::before {
  transition: transform 0.2s;
}
.rc-dropdown .rc-dropdown-wrap-open .anticon-down::before {
  transform: rotate(180deg);
}
.rc-dropdown-hidden,
.rc-menu-hidden,
.rc-menu-submenu-hidden {
  display: none;
}
// .rc-dropdown.rc-dropdown-slide-down-enter.rc-dropdown-slide-down-enter-active.rc-dropdown-placement-bottomLeft,
// .rc-dropdown.rc-dropdown-slide-down-appear.rc-dropdown-slide-down-active.rc-dropdown-placement-bottomLeft,
// .rc-dropdown.rc-dropdown-slide-down-enter.rc-dropdown-slide-down-enter-active.rc-dropdown-placement-bottom,
// .rc-dropdown.rc-dropdown-slide-down-appear.rc-dropdown-slide-down-active.rc-dropdown-placement-bottom,
// .rc-dropdown.rc-dropdown-slide-down-enter.rc-dropdown-slide-down-enter-active.rc-dropdown-placement-bottomRight,
// .rc-dropdown.rc-dropdown-slide-down-appear.rc-dropdown-slide-down-active.rc-dropdown-placement-bottomRight {
//   animation-name: antSlideUpIn;
// }
// .rc-dropdown.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topLeft,
// .rc-dropdown.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topLeft,
// .rc-dropdown.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-top,
// .rc-dropdown.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-top,
// .rc-dropdown.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topRight,
// .rc-dropdown.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topRight {
//   animation-name: antSlideDownIn;
// }
// .rc-dropdown.rc-dropdown-slide-down-leave.rc-dropdown-slide-down-leave-active.rc-dropdown-placement-bottomLeft,
// .rc-dropdown.rc-dropdown-slide-down-leave.rc-dropdown-slide-down-leave-active.rc-dropdown-placement-bottom,
// .rc-dropdown.rc-dropdown-slide-down-leave.rc-dropdown-slide-down-leave-active.rc-dropdown-placement-bottomRight {
//   animation-name: antSlideUpOut;
// }
// .rc-dropdown.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topLeft,
// .rc-dropdown.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-top,
// .rc-dropdown.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topRight {
//   animation-name: antSlideDownOut;
// }

.rc-dropdown-slide-up-enter,
.rc-dropdown-slide-up-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.rc-dropdown-slide-up-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-bottomRight,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-bottomRight {
  animation-name: antSlideUpIn;
  animation-play-state: running;
}
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-enter.rc-dropdown-slide-up-enter-active.rc-dropdown-placement-topRight,
.rc-dropdown-slide-up-appear.rc-dropdown-slide-up-appear-active.rc-dropdown-placement-topRight {
  animation-name: antSlideDownIn;
  animation-play-state: running;
}
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomLeft,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomCenter,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-bottomRight {
  animation-name: antSlideUpOut;
  animation-play-state: running;
}
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topLeft,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topCenter,
.rc-dropdown-slide-up-leave.rc-dropdown-slide-up-leave-active.rc-dropdown-placement-topRight {
  animation-name: antSlideDownOut;
  animation-play-state: running;
}

.rc-dropdown .rc-dropdown-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  pointer-events: none;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rc-dropdown .rc-dropdown-arrow::before {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  width: 16px;
  height: 8px;
  background: #ffffff;
  clip-path: path(
    'M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z'
  );
  content: '';
}
.rc-dropdown .rc-dropdown-arrow::after {
  content: '';
  position: absolute;
  width: 8.970562748477143px;
  height: 8.970562748477143px;
  bottom: 0;
  inset-inline: 0;
  margin: auto;
  border-radius: 0 0 2px 0;
  transform: translateY(50%) rotate(-135deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 0;
  background: transparent;
}
.rc-dropdown .rc-dropdown-arrow:before {
  background: #ffffff;
}
.rc-dropdown-placement-top .rc-dropdown-arrow,
.rc-dropdown-placement-topLeft .rc-dropdown-arrow,
.rc-dropdown-placement-topRight .rc-dropdown-arrow {
  bottom: 0;
  transform: translateY(100%) rotate(180deg);
}
.rc-dropdown-placement-top .rc-dropdown-arrow {
  left: 50%;
  transform: translateX(-50%) translateY(100%) rotate(180deg);
}
.rc-dropdown-placement-topLeft .rc-dropdown-arrow {
  left: 12px;
}
.rc-dropdown-placement-topRight .rc-dropdown-arrow {
  right: 12px;
}
.rc-dropdown-placement-bottom .rc-dropdown-arrow,
.rc-dropdown-placement-bottomLeft .rc-dropdown-arrow,
.rc-dropdown-placement-bottomRight .rc-dropdown-arrow {
  top: 0;
  transform: translateY(-100%);
}
.rc-dropdown-placement-bottom .rc-dropdown-arrow {
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}
.rc-dropdown-placement-bottomLeft .rc-dropdown-arrow {
  left: 12px;
}
.rc-dropdown-placement-bottomRight .rc-dropdown-arrow {
  right: 12px;
}
.rc-dropdown .rc-menu {
  position: relative;
  margin: 0;
}
.rc-menu-submenu-popup {
  position: absolute;
  z-index: 1050;
  background: transparent;
  box-shadow: none;
  transform-origin: 0 0;
}
.rc-menu-submenu-popup ul,
.rc-menu-submenu-popup li {
  list-style: none;
  margin: 0;
}
.rc-dropdown .rc-menu,
.rc-menu-submenu .rc-menu {
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.rc-dropdown .rc-menu:focus-visible,
.rc-menu-submenu .rc-menu:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
.rc-dropdown .rc-menu .rc-menu-item-group-title,
.rc-menu-submenu .rc-menu .rc-menu-item-group-title {
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.2s;
}
.rc-dropdown .rc-menu .rc-menu-item,
.rc-menu-submenu .rc-menu .rc-menu-item {
  position: relative;
  display: flex;
  align-items: center;
}
.rc-dropdown .rc-menu .rc-menu-item-icon,
.rc-menu-submenu .rc-menu .rc-menu-item-icon {
  min-width: 14px;
  margin-inline-end: 8px;
  font-size: 12px;
}
.rc-dropdown .rc-menu .rc-menu-title-content,
.rc-menu-submenu .rc-menu .rc-menu-title-content {
  flex: auto;
}
.rc-dropdown .rc-menu .rc-menu-title-content > a,
.rc-menu-submenu .rc-menu .rc-menu-title-content > a {
  color: inherit;
  transition: all 0.2s;
}
.rc-dropdown .rc-menu .rc-menu-title-content > a:hover,
.rc-menu-submenu .rc-menu .rc-menu-title-content > a:hover {
  color: inherit;
}
.rc-dropdown .rc-menu .rc-menu-title-content > a::after,
.rc-menu-submenu .rc-menu .rc-menu-title-content > a::after {
  position: absolute;
  inset: 0;
  content: '';
}
.rc-dropdown .rc-menu .rc-menu-item,
.rc-menu-submenu .rc-menu .rc-menu-item,
.rc-dropdown .rc-menu .rc-menu-submenu-title,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
}
.rc-dropdown .rc-menu .rc-menu-item:hover,
.rc-menu-submenu .rc-menu .rc-menu-item:hover,
.rc-dropdown .rc-menu .rc-menu-submenu-title:hover,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title:hover,
.rc-dropdown .rc-menu .rc-menu-item-active,
.rc-menu-submenu .rc-menu .rc-menu-item-active,
.rc-dropdown .rc-menu .rc-menu-submenu-title-active,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-active {
  background-color: rgba(0, 0, 0, 0.04);
}
.rc-dropdown .rc-menu .rc-menu-item:focus-visible,
.rc-menu-submenu .rc-menu .rc-menu-item:focus-visible,
.rc-dropdown .rc-menu .rc-menu-submenu-title:focus-visible,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
.rc-dropdown .rc-menu .rc-menu-item-selected,
.rc-menu-submenu .rc-menu .rc-menu-item-selected,
.rc-dropdown .rc-menu .rc-menu-submenu-title-selected,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-selected {
  color: #1677ff;
  background-color: #e6f4ff;
}
.rc-dropdown .rc-menu .rc-menu-item-selected:hover,
.rc-menu-submenu .rc-menu .rc-menu-item-selected:hover,
.rc-dropdown .rc-menu .rc-menu-submenu-title-selected:hover,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-selected:hover,
.rc-dropdown .rc-menu .rc-menu-item-selected-active,
.rc-menu-submenu .rc-menu .rc-menu-item-selected-active,
.rc-dropdown .rc-menu .rc-menu-submenu-title-selected-active,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-selected-active {
  background-color: #bae0ff;
}
.rc-dropdown .rc-menu .rc-menu-item-disabled,
.rc-menu-submenu .rc-menu .rc-menu-item-disabled,
.rc-dropdown .rc-menu .rc-menu-submenu-title-disabled,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.rc-dropdown .rc-menu .rc-menu-item-disabled:hover,
.rc-menu-submenu .rc-menu .rc-menu-item-disabled:hover,
.rc-dropdown .rc-menu .rc-menu-submenu-title-disabled:hover,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  cursor: not-allowed;
}
.rc-dropdown .rc-menu .rc-menu-item-disabled a,
.rc-menu-submenu .rc-menu .rc-menu-item-disabled a,
.rc-dropdown .rc-menu .rc-menu-submenu-title-disabled a,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-disabled a {
  pointer-events: none;
}
.rc-dropdown .rc-menu .rc-menu-item-divider,
.rc-menu-submenu .rc-menu .rc-menu-item-divider,
.rc-dropdown .rc-menu .rc-menu-submenu-title-divider,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: rgba(5, 5, 5, 0.06);
}
.rc-dropdown .rc-menu .rc-menu-item .rc-menu-submenu-expand-icon,
.rc-menu-submenu .rc-menu .rc-menu-item .rc-menu-submenu-expand-icon,
.rc-dropdown .rc-menu .rc-menu-submenu-title .rc-menu-submenu-expand-icon,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title .rc-menu-submenu-expand-icon {
  position: absolute;
  inset-inline-end: 8px;
}
.rc-dropdown .rc-menu .rc-menu-item .rc-menu-submenu-expand-icon .rc-menu-submenu-arrow-icon,
.rc-menu-submenu .rc-menu .rc-menu-item .rc-menu-submenu-expand-icon .rc-menu-submenu-arrow-icon,
.rc-dropdown
  .rc-menu
  .rc-menu-submenu-title
  .rc-menu-submenu-expand-icon
  .rc-menu-submenu-arrow-icon,
.rc-menu-submenu
  .rc-menu
  .rc-menu-submenu-title
  .rc-menu-submenu-expand-icon
  .rc-menu-submenu-arrow-icon {
  margin-inline-end: 0 !important;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  font-style: normal;
}
.rc-dropdown .rc-menu .rc-menu-item-group-list,
.rc-menu-submenu .rc-menu .rc-menu-item-group-list {
  margin: 0 8px;
  padding: 0;
  list-style: none;
}
.rc-dropdown .rc-menu .rc-menu-submenu-title,
.rc-menu-submenu .rc-menu .rc-menu-submenu-title {
  padding-inline-end: 24px;
}
.rc-dropdown .rc-menu .rc-menu-submenu-vertical,
.rc-menu-submenu .rc-menu .rc-menu-submenu-vertical {
  position: relative;
}
.rc-dropdown .rc-menu .rc-menu-submenu.rc-menu-submenu-disabled .rc-menu-submenu-title,
.rc-menu-submenu .rc-menu .rc-menu-submenu.rc-menu-submenu-disabled .rc-menu-submenu-title,
.rc-dropdown
  .rc-menu
  .rc-menu-submenu.rc-menu-submenu-disabled
  .rc-menu-submenu-title
  .rc-menu-submenu-arrow-icon,
.rc-menu-submenu
  .rc-menu
  .rc-menu-submenu.rc-menu-submenu-disabled
  .rc-menu-submenu-title
  .rc-menu-submenu-arrow-icon {
  color: rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  cursor: not-allowed;
}
.rc-dropdown .rc-menu .rc-menu-submenu-selected .rc-menu-submenu-title,
.rc-menu-submenu .rc-menu .rc-menu-submenu-selected .rc-menu-submenu-title {
  color: #1677ff;
}
.rc-dropdown .rc-menu .rc-menu-item.rc-menu-item-danger:not(.rc-menu-item-disabled),
.rc-menu-submenu .rc-menu .rc-menu-item.rc-menu-item-danger:not(.rc-menu-item-disabled) {
  color: #ff4d4f;
}
.rc-dropdown .rc-menu .rc-menu-item.rc-menu-item-danger:not(.rc-menu-item-disabled):hover,
.rc-menu-submenu .rc-menu .rc-menu-item.rc-menu-item-danger:not(.rc-menu-item-disabled):hover {
  color: #fff;
  background-color: #ff4d4f;
}

@keyframes antSlideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes antSlideUpOut {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}

@keyframes antSlideDownIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes antSlideDownOut {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}

@keyframes antZoomBigIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes antZoomBigOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes antSlideDownIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes antSlideUpIn {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes antSlideDownOut {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}

@keyframes antSlideUpOut {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}

@keyframes antMoveUpIn {
  0% {
    transform: translate3d(0, -100%, 0);
    transform-origin: 0 0;
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes antMoveUpOut {
  0% {
    transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -100%, 0);
    transform-origin: 0 0;
    opacity: 0;
  }
}

@keyframes antMoveDownIn {
  0% {
    transform: translate3d(0, 100%, 0);
    transform-origin: 0 0;
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes antMoveDownOut {
  0% {
    transform: translate3d(0, 0, 0);
    transform-origin: 0 0;
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 100%, 0);
    transform-origin: 0 0;
    opacity: 0;
  }
}
