// custom css sharethis-reactjs package
.st-inline-share-buttons {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .st-total {
    display: none !important;
  }

  .st-label {
    line-height: unset;
    display: none !important;
  }

  .st-btn {
    &:hover {
      top: 0 !important;
    }
  }

  .st-remove-label {
    display: inline-block !important;
  }
}
