.cropContainer {
  height: 350px;
  position: relative;
  overflow: hidden;

  :global {
    img {
      max-width: unset;
    }
  }
}

.modal {
  :global {
    .rc-dialog-content {
      max-height: 90vh;
    }
  }
}
