@keyframes isIncrease {
  to {background-color: #128F63;border-radius: 100px; color: #ffffff; padding: 2px 5px;}
}
.isIncrease{
  animation-name: isIncrease;
  animation-duration: 0.5s;
}
@keyframes isDecrease {
  to {background-color: #DB4444;border-radius: 100px;color: #ffffff;padding: 2px 5px;}
}
.isDecrease{
  animation-name: isDecrease;
  animation-duration: 0.5s;
}
