.tabMobile {
  :global {
    .rc-tabs-tab-btn {
      @media (max-width: 768px) {
        font-size: 14px !important;
      }
    }

    .rc-tabs-ink-bar.rc-tabs-ink-bar-animated {
      display: none;
    }

    .rc-tabs-nav-operations {
      display: none;
    }
  }
}
